/* Liam to do list
Move the settings icon to the top right | DONE BITCH
Create the settings menu (put an escape button in the menu to close it) 
Create the point award screen
Make the website adapt better to different display sizes
*/



*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(images/skyBackground.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.6rem;
    overflow: hidden;
    position: relative;
}
nav{
    background-color: rgb(26, 29, 37);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
}
nav li{
    height: 60px;
    padding-right: 15px;
    padding-left: 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.905);
}
nav img{
    width: 40px;
}

nav #round{
    position: absolute; /* Position it absolutely to center */
    left: 50%; /* Move it to the middle of the container */
    transform: translateX(-50%); /* Offset it by half its own width */
}

nav #settings{
    display: flex;
    margin-left: auto;
    float: right;
    background-color: rgb(26, 29, 37);
    color: rgb(26, 29, 37);
}

nav #settings img{
    transform: rotate(0deg);
    transition: transform 0s 0s;
}

nav #settings img.rotate{
    transform: rotate(-360deg);
    transition: transform 1.2s;
}

#settings-button{
    background: none;
    border: none;

}
#settings-button :hover{
    cursor: pointer;
}

.settings-screen{

    display: none;
    position: fixed;
    width: min(700px, 70%);
    height: min(900px, 70%);
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.051);

    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    

    border-radius: 25px;
    border: solid rgba(0, 0, 0, 0.818) 4px;
    z-index: 1000;
    justify-content: center;
}

.settings-screen h1{
    text-align: center;
    margin: 20px;
}

.settings-screen ul{
    position: absolute;
    margin-top: 120px;
    list-style-type: none;
}

.settings-screen li{
    width: min(600px, 45vw);
    padding: 10px;
    background-color: aliceblue;
    border-radius: 5px;
    margin: 20px 0;
}

#settings-exit{
    position: absolute;
    top: 0;
    right: 1.1vw;
    color: red;
    font-size: 50px;
    cursor: pointer;
}

.start-button-container{
    text-align: center;
}
.start-button{
    width: 280px;
    height: 180px;
    margin: 38vh auto;
    vertical-align: middle;
    cursor: pointer;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 4rem;
    font-weight: 400;
    color: rgb(26, 37, 27);
    border: solid rgb(26, 29, 37) 4px;
    border-radius: 20px;

    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.4);
    background-color: rgba(24, 170, 255, 0.145);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

    transition-property: width height;
    transition-duration: 0.1s;
    transition-timing-function: ease;
    transition-delay: 0ms;
}
.start-button:hover{
    width: 290px;
    height: 190px;
}
.start-button:active{
    width: 270px;
    height: 170px;
}
#main-game{
    display: none;
}
.game-container{
    text-align: center;
    border: solid;
    border-radius: 20px;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.396);
    background-color: rgba(255, 255, 255, 0.051);
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    margin: 8vh auto;
    width: min(36vw, 100%);
    padding: 10px;
}
.game-container h1{
    font-size: 24px;
    font-weight: 400;
}
.game-container input{
    margin: 20px;
    width: 32vw;
    height: 5vh;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 24px;
}
#map{ 
    height: 26vw;
    width: 26vw;
    margin: 10px auto;
    z-index: 10000;
    border: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 15px;
}
.restart-container{
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 50rem;
    justify-content: center;
    text-align: center;
    margin-bottom: 20;
}
#restart{       /*LIAM PLEASE FIX THIS ABOMINATION I DONT KNOW WHAT I WAS DOING PLS FIX */
    width: min(20%, 40vw);
    height: 5vh;
    margin: 2vh auto;
}


.slidecontainer {
  width: 10%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 10%; /* Full-width */
  height: 20px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

#endscreen{

    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    width: min(700px, 70%);
    height: min(400px, 40%);
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.051);

    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    

    border-radius: 25px;
    border: solid rgba(0, 0, 0, 0.818) 4px;
    z-index: 100000;
    justify-content: center;
}



@media (max-width: 800px) {
    .gametitle {
        display: none;
    }
    .game-container{
        width: min(70vw, 100%);
        margin-top: 30px;
    }
    #map {
        width: 55vw;
        height: 70vw;
    }
    .game-container input{
        width: 60vw;
    }
    .game-container h1{
        font-size: 16px;
    }
    .timer {
        font-size: 16px;
    }
    .slider {
        width: 30%; /* Full-width */
      }
  }