*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(images/skyBackground.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.6rem;
    overflow: hidden;
}
nav{
    background-color: rgb(26, 29, 37);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav li{
    height: 60px;
    padding-right: 15px;
    padding-left: 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.905);
}
nav img{
    width: 40px;
}

nav #settings{ /*PLEASE HELP LIAM IDK HOW TO MAKE IT GO TO THE RIGHT */
    float: right;
}

nav #settings:hover{ /*PLEASE HELP LIAM IDK HOW TO MAKE THE ANIMATION CONTINUE AFTER STOP HOVERING SO IF YOU BRIEFLY HOVER OVER IT IT LOOKS WEIRD */
    animation: spin 1s
}

.start-button-container{
    text-align: center;
}
.start-button{
    width: 280px;
    height: 180px;
    margin: 38vh auto;
    vertical-align: middle;
    cursor: pointer;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 4rem;
    font-weight: 400;
    color: rgb(26, 37, 27);
    border: solid rgb(26, 29, 37) 4px;
    border-radius: 20px;

    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.4);
    background-color: rgba(24, 170, 255, 0.145);
    backdrop-filter: blur(10px);

    transition-property: width height;
    transition-duration: 0.1s;
    transition-timing-function: ease;
    transition-delay: 0ms;
}
.start-button:hover{
    width: 290px;
    height: 190px;
}
.start-button:active{
    width: 270px;
    height: 170px;
}
#main-game{
    display: none;
}
.game-container{
    text-align: center;
    border: solid;
    border-radius: 20px;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.396);
    background-color: rgba(255, 255, 255, 0.051);
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    margin: 8vh auto;
    width: min(800px, 100%);
    padding: 10px;
}
.game-container h1{
    font-size: 3rem;
    font-weight: 400;
}
.game-container input{
    margin: 20px;
    width: 400px;
    height: 5vh;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 24px;
}
#map{ 
    height: 400px;
    width: 400px;
    margin: 10px auto;
    z-index: 1000000;
    border: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 15px;
}
#restart{       /*LIAM PLEASE FIX THIS ABOMINATION I DONT KNOW WHAT I WAS DOING PLS FIX */
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(4.0);
}

@keyframes spin {
    100% {transform: rotate(360deg);}
  }